<body>
    <div class="header">
        <nav>
            <div class="logo">
                <img src="assets\logo.png" width="75px">

                <span>Voizfonica</span>
            </div>
            <ul>
                <li><a href="\home">Home</a></li>
                <li><a href="\prepaid">Prepaid</a></li>
                <li><a href="\postpaid">Postpaid</a></li>
                <li><a href="\dongle">Dongle</a></li>
                <li><a href="\support">Support</a></li>
                <li><a href="\home">Logout</a></li>
            </ul>
        </nav>
        <div class="slideshow middle">
            <div class="slides">
                <input type="radio" name="r" id="r1" checked>
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">
                <div class="slide s1">
                    <img src="assets\1.png">
                </div>
                <div class="slide">
                    <img src="assets\2.png">
                </div>
                <div class="slide">
                    <img src="assets\3.png">
                </div>
            </div>
            <div class="navigation">
                <label for="r1" class="bar"></label>
                <label for="r2" class="bar"></label>
                <label for="r3" class="bar"></label>
            </div>
           
        </div>
    </div>
    <div class="grad">
</div>

    <footer>
        <div class="img"><img src="assets\logo.png" width="45px"></div>
        <div class="main-content">
            <div class="left box">
                <h2>voizfonica</h2><br>
                <p>
                    VoizFonica business is very technology dependent as 
                    company acts as a network service provider (NSP)  in mobile.
                </p>
            </div>
            <div class="center box">
                <h2> Contact US</h2><br>
                <div class="contact">
                    <div class="place">
                        <span class="text">Voizfonica india</span>
                    </div>
                    <div class="email">
                        <span class="text">voizfonica@gmail.com</span>
                    </div>
                    <div class="number">
                        <span class="text">040-287XXXX</span>
                    </div>
                </div>
            </div>
            <div class="right box">
                <h2>Services</h2>
                <div class="content">
                <ul>
                <li><a href="\prepaid">Prepaid</a></li>
                <li><a href="\postpaid">Postpaid</a></li>
                <li><a href="\dongle">Dongle</a></li>
                </ul>
            </div>
            </div>
        </div>
    </footer>
</body>