<body>
    <div class="center">
        <h1>Login</h1>
        <form [formGroup]="form2" (ngSubmit)="login()">
            <div class="text_field">
                <input formControlName="username2" type="text" required minlength="3" >
                <div *ngIf=" f['username2'].touched" class="text-danger">
                    <div *ngIf="f['username2'].invalid">Username is required</div>
                    </div>
                <span></span>
                <label>Username</label>
            </div>
            <div class="text_field">
                <input formControlName="password2" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])">
                <!-- <div *ngIf=" f['password2'].touched" class="text-danger">
                    <div *ngIf="f['password2'].invalid">Password must contain one uppercase,lowercase and number</div>
                    </div> -->
                    <span></span>
                <label>Password</label>
            </div>
        <div [hidden]="captcha">
            <re-captcha (resolved)="resolved($event)" siteKey="6LeVY40hAAAAAFcnfEdXpcG8hQ610M1vJ5PFgz5H"></re-captcha>
        </div>
        <div [hidden]="!captcha"></div><br>
            <input type="submit" value="Login"><br><br>
            <div class="Signup_link">
                Not a member?<a href="\signup">Signup</a>
            </div><br>
        </form>
    </div>
</body>